<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/head %>
    </header>
    <main>
        <script type="text/javascript" src="/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/vendor/materialize/js/materialize.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <nav class="teal">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Procesos</a>
            </div>
        </nav>
        <div class="jumbotron">
            <h1>estoy en la vitual</h1>


        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>