<div class="divider"></div>
<div class="section">
    <h5>RAM</h5>
    <div class="row">
        <div class="col s12 m10">
            <div class="card-panel">
                <div id="piechart"></div>
            </div>
        </div>
    </div>
</div>


<div class="divider"></div>
<div class="section">
    <h5>CPU</h5>
    <div class="row">
        <div class="col s12 m10">
            <div class="card-panel teal">
                <div id='cpu1'>cpu1</div>
                <div id='cpu2'>cpu2</div>
                <div id="chart_div"></div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Procesos</h5>
    <div class="row">
        <div class="col s12 m10">
            <div class="card-panel teal">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s8 offset-s2">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Pid</th>
                                            <th>nombre</th>
                                            <th>Id Usuario</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody id="proc">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <pre id="objeto"></pre>
                        <ul id="lista"></ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>